@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nunito:wght@400;700&display=swap');

body {
    color: #272643;
    font-family: 'Nunito', sans-serif;
}

/* Main Inteface Rounded Rectangle*/
.main-rectangle {
    float: left;
    border: 3px solid #bae8e8;
    background: #bae8e8;
    position: absolute;
    top: 9%;
    left: 9%;
    right: 9%;
    bottom: 9%;
    border-radius: 30px;
}

/* Inner Rounded Rectangle */
.rounded-rectangle {
    border: 3px solid white;
    background: white;
    position: inherit;
    border-radius: 30px;
    top: 130px;
    bottom: 50px;
    right: 50px;
    left: 50px;
}

/* Warning Message */
.warning {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    text-align: center;
}

/* Website Logo */
.titleDiv {
    float: left;
    position: inherit;
    top: 50px;
    left: 50px;
    width: max-content;
    font-family: 'Jua', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    align-items: center;
}

.titleDiv:hover {
    cursor: pointer;
}

.titleDiv img {
    display: block;
    float: left;
}
